@import "~bootstrap/scss/bootstrap";

header {
    h1 {
        font-size: 2rem;
        font-weight: 700;
        color: #fff;
        text-align: center;
        margin: 0;
    }
    padding: 20px;
    color: #fff;
    background: linear-gradient(
        to bottom,
        #f8b195,
        #f67280,
        #c06c84,
        #6c5b7b,
        #355c7d
    );
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        li {
            margin-right: 20px;
            a {
                color: white !important;
                background-color: white;
                text-decoration: none;
            }
        }
    }
}

main {
    .container {
        background-image: url("https://wallpapercave.com/wp/wp2588482.jpg");
        padding: 0;
        background-position: center;
        background-size: cover;
        .container-text {
            text-align: center;
            background-color: #355c7d;
            width: max-content;
            padding: 10px;
            box-shadow: 2px 2px 23px black;
            color: lightblue;
            font-size: larger;
        }
    }
    margin-bottom: 250px;
    h1 {
        margin: 30px 0;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #355c7d;
    padding: 20px;
    color: #fff;
    ul {
        list-style: none;
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
        display: flex;
        justify-content: space-between;
        li {
            margin-right: 20px;
            font-size: 3.5rem;
        }
    }
    a {
        color: #fff;
        text-decoration: none;
        .dc-about {
            margin: 20px;
            p {
                margin-bottom: 10px;
            }
        }
    }
}
